.achtergrond{
    height: 100vh;
    .voorgrond{
    background-color: rgba(220,220,220, .5);
    transform: translateY(50%);
    border-radius: 3rem;

.lijst{
    text-align: center;
    font-weight: bold;
    /*transform: translateY(60%);*/
    padding: 20px;
    h1{
        padding: 10px;
        line-height: 1.5;
    a{
        text-decoration: none;
    }
    }

    
}
}
}

