.deel1{
    background-image: url("../dist/images/bureau.jpg");
    /*background-color: #002b36;*/
    /*background-size: cover;*/
    background: linear-gradient(to top, #313132, #161618);
    height: 100vh;
    min-width: 100%;
    background-position: center;
    h1{
        align-items: middle;
        color: $wit;
    }
}

/* .glas{
    display: inline-block;
    background: rgb(255, 255, 255, 0.2);
    padding: 3em;
    border-radius: 3em;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(40px);
}*/



i{
    color: #fff;
    font-size: 50px;
    padding-top: 50%px;
}

.gegevens{
    text-align: right;
    transform:translateY(180px);
}

.hoofd{
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Alfa Slab One', cursive;*/
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

.ik{
    margin-top: 10px;
}





.deel2{
    height: 500px;
}

.deel3{
    background-color: #fff!important;
    height: 700px;
    min-width: 100%;
    background-color:#fff;
.box{
    /*background-color: rgba(blue, .08) /*rgba(green, .08);*/
    /*background-color: rgba(blue, .08);*/
   /* background: linear-gradient(
                to right bottom,
                 rgba(211,211,211, 0.5),
                  rgba(211,211,211, 0.2));*/
    background-color: rgba(211,211,211, 0.1);
    /*padding-bottom: 50px;*/
    justify-content: center;
    h2{
        color: #000;
    }
    .mate{
        /*width: 10px !important;*/
        /*height: 10px !important;*/

        .c-gemeen{
            background: white;
            padding: 3em;
            border-radius: 1rem;
            position: relative;
            background: linear-gradient(
                to right bottom,
                 rgba(105,105,105, 0.8),
                  rgba(105,105,105, 0.2));
            /*background: linear-gradient(
                to right bottom,
                 rgba(255, 255, 255, 0.7),
                  rgba(255, 255, 255, 0.3));*/
        }
    }
    
    
}
}



